.cursor-pointer {
    cursor: pointer;
}
.custom-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: white; 
    border-radius: 50%;
    width: 25px; 
    height: 25px; 
    font-size: 14px; 
}
